<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <form>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="">Código</label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
          <div class="form-group col-md-3">
            <label for="">Nombre del proyecto</label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
          <div class="form-group col-md-3">
            <label for="">Descripción</label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
          <div class="form-group col-md-3">
            <label for="exampleFormControlSelect1">Aeropuertos</label>
            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
              <option>Seleccionar</option>
              <option>2</option>
              <option>3</option>
              <option>Otro</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="">Identificador de Cuenta </label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
          <div class="form-group col-md-3">
            <label for="exampleFormControlSelect1">Proveedores</label>
            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
              <option>Seleccionar</option>
              <option>2</option>
              <option>3</option>
              <option>Otro</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="exampleFormControlSelect1">Provincias</label>
            <select class="form-control form-control-sm" id="exampleFormControlSelect1">
              <option>Seleccionar</option>
              <option>2</option>
              <option>3</option>
              <option>Otro</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="">Nro. Contratación</label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
          <div class="form-group col-md-3">
            <label for="">Nro. Obra</label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
          <div class="form-group col-md-3">
            <label for="">Nro. Pago</label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
          <div class="form-group col-md-3">
            <label for="">Norma Legal</label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
          <div class="form-group col-md-3">
            <label for="">Objeto</label>
            <input type="text" class="form-control form-control-sm" id="">
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-sm-12 col-lg-4 p-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Subir Archivo</label>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-light" style="background-color: #e9ecef;">
            <table style="width:100%">
              <tbody>
                <tr>
                  <td align="center"><input type="button" value="Procesar" class="btn btn-primary"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
