<div class="container-fluid">

  <!-- Breadcrumbs
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Ventas</li>
  </ol>-->
  <!-- Page Content -->
  <h3 class="font-weight-bold SisporMainTxt">Cuentas</h3>
  <hr>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <form>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="">Identificador de cuenta</label>
              <input class="form-control form-control-sm" id="">
            </div>
            <div class="form-group col-md-3">
              <label for="">Nombre</label>
              <input class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-3">
              <label for="">Descripción</label>
              <input class="form-control form-control-sm">
            </div>
            <div class="form-group col-md-2">
              <label for="">Fecha de Vigencia</label>
              <input type="date" class="form-control form-control-sm" id="">
            </div>
            <div class="form-group col-md-2">
              <label for="exampleFormControlSelect1">Tipo Cuenta </label>
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                <option>Seleccionar</option>
                <option>2</option>
                <option>3</option>
                <option>Otro</option>
              </select>
            </div>
          </div>
        </form>




        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-light" style="background-color: #e9ecef;">
              <table style="width:100%">
                <tbody>
                  <tr>
                    <td align="center"><input type="button" value="Procesar" class="btn btn-primary"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
